{% load static from staticfiles %}

<section id="devf-hacker-definition" class="container-fluid">
	<div id="devf-hacker-definitions" class="container-fluid devf-hacker-definition-text" style="background-image: url({% static "img/home/wall.jpg" %});">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 devf-word-reference">
					<h2 class="text-center">hack·er</h2>
					<p class="text-center">/hækə(ɹ)/</p>
					<p class="text-center">sust.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 devf-hd-text">
					<h3>1</h3>
					<p>Una persona que disfruta explorar los límites de lo posible por curiosidad intelectual.</p>
				</div>
				<div class="col-md-4 col-sm-12 devf-hd-text">
					<h3>2</h3>
					<p>Una persona que se regocija al entender profundamente los elementos internos de un sistema, en particular computadoras y redes de ellas.</p>
				</div>
				<div class="col-md-4 col-sm-12 devf-hd-text">
					<h3>3</h3>
					<p>Un individuo que disfruta el reto intelectual de creativamente resolver problemas complejos y eludir las limitaciones de los sistemas de información y extender sus capacidades.</p>
				</div>
			</div>
		</div>
	</div>
</section>
