{% extends "home/base_home.html" %}

<header>
	<nav class="navbar navbar-default">
		<div class="container-fliud">
			<div class="navbar-header">
				<a href="{% url 'home' %}" class="navbar brand">
					<img src="{% static "img/home/logo.png" %}" alt="Dev.f" />
				</a>
			</div>
		</div>
	</nav>
</header>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
        </div>
    </div>
</nav>
