{% load static from staticfiles %}

<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a href="{% url 'home' %}" class="navbar brand">
					<img src="{% static "img/home/logo.png" %}" alt="Dev.f" />
					<p class="devf-white-link devf-thin-text">Dessarrollamos Developers</p>
				</a>
			</div>
			<ul class="devf-menu-bar nav navbar-nav navbar-right">
				<li><a href="{% url "home" %}" class="devf-selected-menu">Inicio</a></li>
				<li><a href="{% url "about" %}" class="devf-selected-menu">Acerca de</a></li>
				<li><a href="{% url "programs:home" %}" class="devf-selected-menu">Programas</a></li>
				<li><a href="{% url "senseis:home" %}" class="devf-selected-menu">Senseis</a></li>
				<li><a href="{% url "mentors:home" %}" class="devf-selected-menu">Mentores</a></li>
				<li><a href="#" class="devf-selected-menu">Blog</a></li>
			</ul>
		</div>
	</nav>
</header>
