{% load static from staticfiles %}

<style>
	@import url(https://fonts.googleapis.com/css?family=Fredoka+One);	
</style>

<video autoplay loop muted id="devf-hero-video">
	<source src="{% static "videos/typing.webm" %}" type="video/webm"></source>
	<source src="{% static "videos/typing.mp4" %}" type="video/mp4"></source>
	<source src="{% static "videos/typing.ogv" %}" type="video/ogv"></source>
</video>

<div class="devf-hero container center-block">
	<div class="row">
		<div class="devf-center-vh col-md-6 col-sm-12">
			<h1>Primer escuela para Hackers en América Latina.</h1>
			<p>Forma parte de la comunidad.</p>
			<p class="devf-aply-button">
				<a href="{% url "home" %}">¡Aplica ya!</a>
			</p>
		</div>
	</div>
</div>