<!DOCTYPE HTML>
<html lang="es">
<head>
	{% load static from staticfiles %}

	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO -->

		<meta name="description" content="{{ meta_description }}" />
		<link rel="author" href="" />

		<!-- Facebook -->
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:site_name" content="Dev.f" />
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />
		<meta property="og:description" content="{{ meta_description }}" />
		<meta property="article:author" content="https://www.facebook.com/devfmx" />
		<meta property="article:publisher" content="https://www.facebook.com/devfmx" />
		<meta property="og:image" content="{% static "img/base/devf.png" %}" />
		<!-- Facebook -->

		<!-- Twitter -->
		<meta name="twitter:card" content="sumary" />
		<meta name="twitter:site" content="@devfmx" />
		<!-- Twitter -->

	<!-- SEO -->

	<!-- Static Files -->
	<link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css /'>
	<style>
		@font-face{font-family:'FontAwesome';src:url('{% static "fonts/fontawesome-webfont.eot" %}');src:url('{% static "fonts/fontawesome-webfont.eot" %}') format('embedded-opentype'),url('{% static "fonts/fontawesome-webfont.woff2" %}') format('woff2'),url('{% static "fonts/fontawesome-webfont.woff" %}') format('woff'),url('{% static "fonts/fontawesome-webfont.ttf" %}') format('truetype'),url('{% static "fonts/fontawesome-webfont.svg" %}') format('svg');font-weight:normal;font-style:normal}
	</style>
	<link rel="stylesheet" href="{% static "css/lib/font-awesome.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/devf.css" %}" />
	<!-- Static Files -->

	<link rel="shortcut icon" href="{% static "img/base/favicon.png" %}" />

	{% block heade %}{% endblock %}

</head>
<body>

	{% block body %}{% endblock %}
	<script src="{% static "js/lib/dom-animator.min.js" %}"></script>
	<script src="{% static "js/lib/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/lib/bootstrap.min.js" %}"></script>
	<script src="{% static "js/lib/TweenMax.min.js" %}"></script>
	<script src="{% static "js/lib/jquery.scrollmagic.js" %}"></script>
	<script src="{% static "js/lib/jquery.scrollmagic.debug.js" %}"></script>
	<script src="{% static "js/devf.js" %}"></script>
	<script src="{% static "js/domanimator.js" %}"></script>
	<script type="text/javascript">
		domAnimator.animate(1000);
	</script>
	{% block body_scripts %}{% endblock %}

</body>
</html>
