<!DOCTYPE HTML>
<html lang="es">
<head>
	{% load static from staticfiles %}

	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO -->

		<meta name="description" content="{{ meta_description }}" />
		<link rel="author" href="" />

		<!-- Facebook -->
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:site_name" content="Dev.f" />
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />
		<meta property="og:description" content="{{ meta_description }}" />
		<meta property="article:author" content="https://www.facebook.com/devfmx" />
		<meta property="article:publisher" content="https://www.facebook.com/devfmx" />
		<meta property="og:image" content="{% static "img/base/devf.png" %}" />
		<!-- Facebook -->

		<!-- Twitter -->
		<meta name="twitter:card" content="sumary" />
		<meta name="twitter:site" content="@devfmx" />
		<!-- Twitter -->

		<!-- Google Analitycs -->
		<script>
		(function(i,s,o,g,r,a,m) {
			i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51575711-1', 'devf.mx');
		ga('send', 'pageview');
		</script>
		<!-- Google Analitycs -->

	<!-- SEO -->

	<!-- Static Files -->
	<link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/devf.css" %}" />
	<!-- Static Files -->

	<link rel="shortcut icon" href="{% static "img/base/favicon.png" %}" />

	{% block heade %}{% endblock %}

</head>
<body>

	{% block body %}{% endblock %}

	<script src="{% static "js/lib/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/lib/bootstrap.min.js" %}"></script>
	<script src="{% static "js/lib/TweenMax.min.js" %}"></script>
	<script src="{% static "js/lib/jquery.scrollmagic.js" %}"></script>
	<script src="{% static "js/lib/jquery.scrollmagic.debug.js" %}"></script>
	<script src="{% static "js/devf.js" %}"></script>
	{% block body_scripts %}{% endblock %}

</body>
</html>
