{% load static from staticfiles %}

<section id="devf-manifesto" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 devf-manifesto-title">
				<h2>Manifesto</h2>
				<p>
					desarrollamos(developers);
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 devf-manifesto-box">
				<figure>
					<img src="{% static "img/home/nicolas.png" %}" alt="Nicolas Cage" />
				</figure>
				<h3>Comunidad</h3>
				<p>
					En el Dev.F. tendrás acceso a personas de perfiles complementarios con quienes podrás compartir ideas y así crear conexiones de valor para materializar nuevas oportunidades. Aquí está la gente apasionada como tú.
				</p>
			</div>
			<div class="col-md-4 col-sm-12 devf-manifesto-box">
				<figure>
					<img src="{% static "img/home/nicolas.png" %}" alt="Nicolas Cage" />
				</figure>
				<h3>Aprendizaje</h3>
				<p>
					Explora sin límites las mejores herramientas tecnológicas para desarrollar tus ideas y llevarlas a la realidad. Nunca dejes de aprender.
				</p>
			</div>
			<div class="col-md-4 col-sm-12 devf-manifesto-box">
				<figure>
					<img src="{% static "img/home/nicolas.png" %}" alt="Nicolas Cage" />
				</figure>
				<h3>Evolución</h3>
				<p>
					Continúa creciendo para después tener el poder de resolver problemas y así generar impacto positivo en la vida de las personas. Es tu oportunidad de transformar tu realidad.
				</p>
			</div>
		</div>
	</div>
</section>
