{% load static from staticfiles %}

<section id="devf-press" class="container-fluid">
    <div class="container">
        <div class="row">
            <h2>Lo que se está diciendo del <span class="devf-stronger">Dev.f</span></h2>
        </div>
        {% for press_object in press %}
            {% if forloop.first %}
                <div class="devf-press-container row">
            {% endif %}
            <div class="col-md-3 col-sm-12 devf-press-box">
                <a href="{{ press_object.link }}" target="_blank">
                    <p>{{ press_object.press_name }}</p>
                    <figure>
                        <img src="{{ press_object.image.url }}" alt="{{ press_object.press_name }}" />
                    </figure>
                </a>
            </div>
            {% if forloop.counter|divisibleby:"4" %}
                </div>
                {% if not forloop.last %}
                    <div class="devf-press-container row">
                {% endif %}
            {% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4" style="margin-top: 3em;">
                <p class="devf-aply-button" style="text-align center">
    				<a href="{% url "apply" %}">¡Aplica ya!</a>
    			</p>
            </div>
        </div>
    </div>
</section>
