{% load static from staticfiles %}

<section class="container-fluid" id="devf-programs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Programas</h2>
            </div>
        </div>
        <div class="row">
            <div class="devf-program-box col-md-4 col-sm-12">

            </div>
            <div class="devf-program-box col-md-4 col-sm-12">

            </div>
            <div class="devf-program-box col-md-4 col-sm-12">

            </div>
        </div>
    </div>
</section>
