{% load static from staticfiles %}

<section class="container-fluid" id="devf-programs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Programas</h2>
            </div>
        </div>
        <div class="row">
            {% for program in programs %}
                <div class="devf-program-box col-md-4 col-sm-12">
                    <div class="dev-program-header">
                        <h3>{{ program.name }}</h3>
                        <p>
                            <span class="devf-old-price">{{program.old_price}}</span> /
                            <span class="devf-actual-price">{{program.actual_price}}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
