/* Variables */
orange_link = #f97352
green_button = #7dcd40
/* Variables */

/* OOCSS Classes*/
.devf-aply-button	
	a
		color white
		background green_button
		font-weight 100
		font-size .7em
		padding .2em 1em
		border-radius 3px
		box-shadow 0 3px 1px 0 #3B7310

		-webkit-transition .3s
		-moz-transition .3s
		-o-transition .3s
		transition .3s

		&:hover
			padding .4em 1.2em
			box-shadow 0 5px 1px 0 #3B7310

.devf-white-link
	color white
	text-decoration none

.devf-thin-text
	font-size .9em
	font-weight 100
/* OOCSS Classes*/
body
	font-family 'Open Sans', sans-serif

header
	background none
	border-radius 0
	border none
	position absolute
	top 0
	left 0
	right 0

	.navbar
		background none
		border none
		border-radius 0px
		margin 0
		padding 1em 0

		.devf-menu-bar
			li
				a
					color white
					font-weight bolder

					&:hover
						color orange_link

				.devf-selected-menu
					color orange_link

.devf-hero
	background-position center
	background-repeat no-repeat
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

	padding-top 80px
	height 100vh
	width 100vw

	.devf-center-vh
		width 50%
		height 50%
		overflow auto
		margin auto
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		h1
			font-size 3em
			font-family 'Fredoka One', cursive
			color orange_link

		p
			color white
			font-weight bolder
			font-size 2em
	