/* Variables */
orange_link = #f97352
green_button = #7dcd40
/* Variables */

/* OOCSS Classes*/
.devf-aply-button	
	a
		background orange_link;
		font-weight bolder
		font-size 16px
		padding .7em 3em
		margin: .5em 0
		color white
		text-transform uppercase
		letter-spacing 1px
		box-shadow: 0 3px 1px 0 #E24822

		-webkit-transition .2s
		-moz-transition .2s
		-o-transition .2s
		transition .2s

		&:hover
			box-shadow: 0 5px 1px 0 rgb(70,70,70)
			text-decoration none
			background rgb(36,36,36)
			color white
			padding .9em 3.2em


.devf-white-link
	color white
	text-decoration none

.devf-thin-text
	font-size .9em
	font-weight 100
/* OOCSS Classes*/
body
	font-family 'Open Sans', sans-serif
	background #efefef

header
	background none
	border-radius 0
	border none
	position absolute
	top 0
	left 0
	right 0

	.navbar
		background none
		border none
		border-radius 0px
		margin 0
		padding 1em 0

		.devf-menu-bar
			li
				a
					color white
					font-weight bolder

					&:hover
						color orange_link

				.devf-selected-menu
					color orange_link


.devf-hero
	background rgba(18, 85, 105, 0.65)
	background-position center
	background-repeat no-repeat
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

	padding-top 80px
	height 80vh
	width 100vw

	.devf-center-vh
		width 50%
		height 50%
		overflow auto
		margin auto
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		h1
			font-size 3em
			/*font-family 'Fredoka One', cursive*/
			text-transform uppercase
			font-weight bolder
			color white

		p
			color orange_link
			font-weight 100
			font-size 1.5em

#devf-hacker-definition
	background white	

#devf-hero-video
	position fixed
	right 0
	bottom 0
	min-width 100%
	min-height 100%
	width auto
	height auto
	z-index -1
	background-size cover