{% extends 'home/home_base.html' %}

{% block body %}
	{% include 'home/header.html' %}

	{% include 'senseis/senseis_hero.html' %}

	<div class="container-fluid senseis-body">
		<div class="col-md-12 senseis-title" >
			<h1>Conoce al Team de Dev.f</h1>
		</div>
		<div class="container">
		{% for sensei in sensei_list %}
			{% if forloop.first %}
				<div class="devf-senseis-container row">
			{% endif %}
			<div class="col-md-3 col-sm-6 col-xs-12 sensei">
				<div class="devf-sensei-box">
					<figure>
						<img src="{{ sensei.picture.url }}" alt="{{ sensei.first_name }}" data-hover-image="{{ sensei.picture2.url }}" />
					</figure>
					<h3>{{ sensei.first_name }} {{ sensei.last_name }}</h3>
					<small>{{ sensei.specialty }}</small>
					<p>{{ sensei.short_description }}</p>
					<a href="{% url 'senseis:sensei' slug=sensei.slug %}">
					</a>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"4" %}
				</div>
				{% if not forloop.last %}
					<div class="devf-senseis-container row">
				{% endif %}
			{% endif %}	
			{% if forloop.last %}
				</div>
			{% endif %}
			{% empty %}
			<p>No hay senseis aún</p>
		{% endfor %}
		</div>
	</div>
{% endblock %}
